*
!/.gitignore
!/readme.md

# system-wide common settings
!/.inputrc

# shell
#!/.bashrc
#!/.zshrc

# terminal-emulator
!/.config
/.config/*
!/.config/alacritty
!/.config/alacritty/*
!/.config/kitty
!/.config/kitty/*

# ranger
!/.config/ranger

# term-multiplexer
# from https://github.com/gpakosz/.tmux
!/.tmux.conf.local

# git

# keymap
#!/.config/karabiner

# vim
!/.spacevim
!/.ideavimrc

# node.js
!/.npmrc
!/.prettierrc

# python
!.pip
!.pip/pip.conf
!.pydistutils.cfg

# scala
#!/.sbt/1.0/

# java
!/.gradle
/.gradle/*
!/.gradle/init.gradle
!/.m2
/.m2/*
!/.m2/settings.xml

!.gitignore_global
!.gitconfig

!.zshrc